
 @import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap');

html
{
    box-sizing: border-box;
}
body
{
    background:  hsl(212, 45%, 89%);
    display: grid;
    place-items: center;
}
main
{
    width: 375px;
    min-width: 375px;
    background-color: White;
    border-radius: 20px;
  

}
.image-container
{
    padding: 6% 6%;
}
img
{
    width: 100%;
    border-radius: 10px;
}
.textArea
{
    margin: 0;
    padding: 0 8%;
    text-align: center;
   
}
.headingArea
{
   
    font-family: 'Outfit', sans-serif;
    font-size: 1.8rem;
  
}
.paraArea
{
    font-size: 1.2rem;
    font-family: 'Outfit', sans-serif;
    color: hsl(220, 15%, 55%);
    padding-bottom: 60px ;
}
